body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-image: url('../images/Wooden-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    background-color: #86512b;
    padding: 17px 0;
    margin-top: 0;
    margin-bottom: 9px;
    width: 100%;
}

nav button {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(92, 58, 33, 0.9);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

nav {
    text-align: center;
}

nav button:hover {
    background-color: #a87f54;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

