body {
    font-family: Arial, sans-serif;
    background-image: url('../images/Wooden-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #f0d9b5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #86512b;
    color: #f5f5dc;
    padding: 20px;
    margin: 0;
}

nav {
    text-align: center;
    padding: 15px;
    background: rgba(245, 245, 220, 0.8);
    display: flex;
    justify-content: center;
    gap: 2px;
}

nav button {
    background-color: #86512b;
    color: #f5f5dc;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: #a87f54;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 90%;
    margin: 30px auto;
}

hr {
    border: 0;
    border-top: 1px solid #b58863;
    margin: 20px auto;
    width: 90%;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 90%;
    margin: 30px auto;
}

.chess-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f0d9b5;
    color: #333;
    border: 3px solid #5c3a21;
}

.chess-table th {
    background-color: #5c3a21;
    color: #f0d9b5;
    padding: 15px;
}

.chess-table td {
    padding: 12px;
    border: 1px solid #b58863;
    text-align: center;
}

.events-image-box {
    width: 100%;
    border: 5px solid #5c3a21;
    padding: 5px;
    background-color: #fff;
}

.events-image-box img {
    width: 100%;
    height: auto;
    display: block;
}
