body {
    margin: 0;
    padding: 0;
    background-image: url('../images/Wooden-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: #86512b;
    color: #f5f5dc;
    padding: 20px;
    margin: 0;
}

nav {
    text-align: center;
    padding: 15px;
    background: rgba(245, 245, 220, 0.8);
    display: flex;
    justify-content: center;
    gap: 2px;
}

nav button {
    background-color: rgba(92, 58, 33, 0.9);
    color: #f5f5dc;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: #a87f54;
}

hr {
    border: 0;
    border-top: 1px solid #b58863;
    margin: 20px auto;
    width: 90%;
}

.gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery-item {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #f0d9b5;
    padding: 20px;
    border: 2px solid #5c3a21;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.02);
}

/* Зигзаг ефект: четните елементи обръщат посоката */
.gallery-item:nth-child(even) {
    flex-direction: row-reverse;
}

.gallery-item img {
    width: 50%;
    border: 3px solid #5c3a21;
}

.gallery-item p {
    width: 50%;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}
